<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Link your Strava account so we can get your data!</h1>
    <section>
    <h2>Step one, login to Strava</h2>
    <a href="https://strava.com/login" target="_blank"> Login to strava with your browser</a>
    </section>
    <section>
    <h2>Step two, authenticate with Strava</h2>
    <a href="/todos/linkStrava"> Signup</a>
    </section>
</body>
</html>